<!-- function Keycap(props) {
  let fontSize = "1.7em"
  if (props.value.length > 1) {
    fontSize = "0.7em"
  }
} -->

<link rel="stylesheet" href="/css/keycaps.css">
<script src="/js/keycaps.js"></script>

<div class="row">
  <!-- Row 1 -->
  <div class="col-sm">
    <div data-color-id="1" class="keycap" data-content="`" data-upper-content="~"></div>
    <div data-color-id="2" class="keycap" data-content="1" data-upper-content="!"></div>
    <div data-color-id="2" class="keycap" data-content="2" data-upper-content="@"></div>
    <div data-color-id="3" class="keycap" data-content="3" data-upper-content="#"></div>
    <div data-color-id="3" class="keycap" data-content="4" data-upper-content="$"></div>
    <div data-color-id="4" class="keycap" data-content="5" data-upper-content="%"></div>
    <div data-color-id="5" class="keycap" data-content="6" data-upper-content="^"></div>
    <div data-color-id="5" class="keycap" data-content="7" data-upper-content="&"></div>
    <div data-color-id="6" class="keycap" data-content="8" data-upper-content="*"></div>
    <div data-color-id="6" class="keycap" data-content="9" data-upper-content="("></div>
    <div data-color-id="6" class="keycap" data-content="0" data-upper-content=")"></div>
    <div data-color-id="6" class="keycap" data-content="SPACE" data-upper-content="BACK"></div>
  </div>
</div>
<div class="row">
  <!-- Row 2 -->
  <div class="col-sm">
    <div data-color-id="1" class="keycap" data-content="TAB"></div>
    <div data-color-id="1" class="keycap" data-content="Q"></div>
    <div data-color-id="2" class="keycap" data-content="W"></div>
    <div data-color-id="2" class="keycap" data-content="E"></div>
    <div data-color-id="3" class="keycap" data-content="R"></div>
    <div data-color-id="3" class="keycap" data-content="T"></div>
    <div data-color-id="4" class="keycap" data-content="Y"></div>
    <div data-color-id="5" class="keycap" data-content="I"></div>
    <div data-color-id="5" class="keycap" data-content="O"></div>
    <div data-color-id="6" class="keycap" data-content="U"></div>
    <div data-color-id="6" class="keycap" data-content="P"></div>
    <div data-color-id="6" class="keycap" data-content="\" data-upper-content="|"></div>
  </div>
</div>
<div class="row">
  <!-- Row 3 -->
  <div class="col-sm">
    <div data-color-id="1" class="keycap" data-content="ESC"></div>
    <div data-color-id="1" class="keycap" data-content="A"></div>
    <div data-color-id="1" class="keycap" data-content="S"></div>
    <div data-color-id="2" class="keycap" data-content="D"></div>
    <div data-color-id="2" class="keycap" data-content="F"></div>
    <div data-color-id="3" class="keycap" data-content="G"></div>
    <div data-color-id="3" class="keycap" data-content="H"></div>
    <div data-color-id="4" class="keycap" data-content="J"></div>
    <div data-color-id="5" class="keycap" data-content="K"></div>
    <div data-color-id="5" class="keycap" data-content="L"></div>
    <div data-color-id="6" class="keycap" data-content=";" data-upper-content=":"></div>
    <div data-color-id="6" class="keycap" data-content="&apos;" data-upper-content="&quot;"></div>
  </div>
</div>
<div class="row">
  <!-- Row 4 -->
  <div class="col-sm">
    <div data-color-id="1" class="keycap" data-content="SHIFT"></div>
    <div data-color-id="1" class="keycap" data-content="Z"></div>
    <div data-color-id="2" class="keycap" data-content="X"></div>
    <div data-color-id="2" class="keycap" data-content="C"></div>
    <div data-color-id="3" class="keycap" data-content="V"></div>
    <div data-color-id="3" class="keycap" data-content="B"></div>
    <div data-color-id="4" class="keycap" data-content="N"></div>
    <div data-color-id="5" class="keycap" data-content="M"></div>
    <div data-color-id="5" class="keycap" data-content="," data-upper-content=">"></div>
    <div data-color-id="6" class="keycap" data-content="." data-upper-content="<"></div>
    <div data-color-id="6" class="keycap" data-content="/" data-upper-content="?"></div>
    <div data-color-id="6" class="keycap" data-content="RETURN"></div>
  </div>
</div>
<div class="row">
  <!-- Row 5 -->
  <div class="col-sm">
    <div data-color-id="1" class="keycap" data-content=""></div>
    <div data-color-id="2" class="keycap" data-content="CTRL"></div>
    <div data-color-id="2" class="keycap" data-content="OPT"></div>
    <div data-color-id="3" class="keycap" data-content="CMD"></div>
    <div data-color-id="3" class="keycap" data-content="LOWER"></div>
    <!-- <div data-color-id="5" class="keycap keycap-2u" data-content=""></div> -->
    <div data-color-id="4" class="keycap" data-content=""></div>
    <div data-color-id="5" class="keycap" data-content=""></div>
    <div data-color-id="5" class="keycap" data-content="RAISE"></div>
    <div data-color-id="6" class="keycap" data-content="LEFT"></div>
    <div data-color-id="6" class="keycap" data-content="DOWN"></div>
    <div data-color-id="6" class="keycap" data-content="UP"></div>
    <div data-color-id="6" class="keycap" data-content="RIGHT"></div>
  </div>
</div>

<div class="row">
  <div class="col-sm">
    <dl id="colors-map">
      <dt>Color 1:</dt><dd data-color-id="1" data-bg-color="#1689c8" data-text-color="#eee">#eee on #1689c8</dd>
      <dt>Color 2:</dt><dd data-color-id="2" data-bg-color="#29aafe" data-text-color="#eee">#eee on #29aafe</dd>
      <dt>Color 3:</dt><dd data-color-id="3" data-bg-color="#a1edff" data-text-color="#222">#222 on #a1edff</dd>
      <dt>Color 4:</dt><dd data-color-id="4" data-bg-color="#f2fff7" data-text-color="#222">#222 on #f2fff7</dd>
      <dt>Color 5:</dt><dd data-color-id="5" data-bg-color="#ffbf54" data-text-color="#eee">#eee on #ffbf54</dd>
      <dt>Color 6:</dt><dd data-color-id="6" data-bg-color="#fc811f" data-text-color="#eee">#eee on #fc811f</dd>
      <dt>Color 7:</dt><dd data-color-id="7" data-bg-color="#39347B" data-text-color="#019CAB">#019CAB on #39347B</dd>
  </div>
</div>
