<!-- function Keycap(props) {
  let fontSize = "1.7em"
  if (props.value.length > 1) {
    fontSize = "0.7em"
  }
} -->

<link rel="stylesheet" href="/css/keycaps.css">
<script src="/js/keycaps.js"></script>

<div class="row">
  <div class="col-sm">
    <div class="keycap" data-content="TAB" data-bg-color="#1689c8" data-text-color="#eee"></div>
    <div class="keycap" data-content="Q" data-bg-color="#1689c8" data-text-color="#eee"></div>
    <div class="keycap" data-content="W" data-bg-color="#29aafe" data-text-color="#eee"></div>
    <div class="keycap" data-content="E" data-bg-color="#a1edff" data-text-color="#222"></div>
    <div class="keycap" data-content="R" data-bg-color="#f2fff7" data-text-color="#222"></div>
    <div class="keycap" data-content="T" data-bg-color="#ffbf54" data-text-color="#eee"></div>
    <div class="keycap" data-content="Y" data-bg-color="#fc811f" data-text-color="#eee"></div>
    <div class="keycap" data-content="I" data-bg-color="#39347B" data-text-color="#019CAB"></div>
    <div class="keycap" data-content="O" data-bg-color="#39347B" data-text-color="#019CAB"></div>
    <div class="keycap" data-content="U" data-bg-color="#39347B" data-text-color="#019CAB"></div>
    <div class="keycap" data-content="P" data-bg-color="#39347B" data-text-color="#019CAB"></div>
    <div class="keycap" data-content="SPACE" data-upper-content="BACK" data-bg-color="#39347B" data-text-color="#019CAB"></div>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <div class="keycap" data-content="ESC" data-bg-color="#1689c8" data-text-color="#eee"></div>
    <div class="keycap" data-content="A" data-bg-color="#1689c8" data-text-color="#eee"></div>
    <div class="keycap" data-content="S" data-bg-color="#29aafe" data-text-color="#eee"></div>
    <div class="keycap" data-content="D" data-bg-color="#a1edff" data-text-color="#222"></div>
    <div class="keycap" data-content="F" data-bg-color="#f2fff7" data-text-color="#222"></div>
    <div class="keycap" data-content="G" data-bg-color="#ffbf54" data-text-color="#eee"></div>
    <div class="keycap" data-content="H" data-bg-color="#fc811f" data-text-color="#eee"></div>
    <div class="keycap" data-content="J" data-bg-color="#39347B" data-text-color="#019CAB"></div>
    <div class="keycap" data-content="K" data-bg-color="#39347B" data-text-color="#019CAB"></div>
    <div class="keycap" data-content="L" data-bg-color="#39347B" data-text-color="#019CAB"></div>
    <div class="keycap" data-content=";" data-upper-content=":" data-bg-color="#39347B" data-text-color="#019CAB"></div>
    <div class="keycap" data-content="&apos;" data-upper-content="&quot;" data-bg-color="#39347B" data-text-color="#019CAB"></div>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <div class="keycap" data-content="SHIFT" data-bg-color="#1689c8" data-text-color="#eee"></div>
    <div class="keycap" data-content="Z" data-bg-color="#1689c8" data-text-color="#eee"></div>
    <div class="keycap" data-content="X" data-bg-color="#29aafe" data-text-color="#eee"></div>
    <div class="keycap" data-content="C" data-bg-color="#a1edff" data-text-color="#222"></div>
    <div class="keycap" data-content="V" data-bg-color="#f2fff7" data-text-color="#222"></div>
    <div class="keycap" data-content="B" data-bg-color="#ffbf54" data-text-color="#eee"></div>
    <div class="keycap" data-content="N" data-bg-color="#fc811f" data-text-color="#eee"></div>
    <div class="keycap" data-content="M" data-bg-color="#39347B" data-text-color="#019CAB"></div>
    <div class="keycap" data-content="," data-upper-content=">" data-bg-color="#39347B" data-text-color="#019CAB"></div>
    <div class="keycap" data-content="." data-upper-content="<" data-bg-color="#39347B" data-text-color="#019CAB"></div>
    <div class="keycap" data-content="/" data-upper-content="?" data-bg-color="#39347B" data-text-color="#019CAB"></div>
    <div class="keycap" data-content="RETURN" data-bg-color="#39347B" data-text-color="#019CAB"></div>
  </div>
</div>
<div class="row">
  <div class="col-sm">
    <div class="keycap" data-content="" data-bg-color="#1689c8" data-text-color="#eee"></div>
    <div class="keycap" data-content="CTRL" data-bg-color="#1689c8" data-text-color="#eee"></div>
    <div class="keycap" data-content="OPT" data-bg-color="#29aafe" data-text-color="#eee"></div>
    <div class="keycap" data-content="CMD" data-bg-color="#a1edff" data-text-color="#222"></div>
    <div class="keycap" data-content="LOWER" data-bg-color="#f2fff7" data-text-color="#222"></div>
    <div class="keycap" data-content="" data-bg-color="#ffbf54" data-text-color="#eee"></div>
    <div class="keycap" data-content="" data-bg-color="#fc811f" data-text-color="#eee"></div>
    <div class="keycap" data-content="RAISE" data-bg-color="#39347B" data-text-color="#019CAB"></div>
    <div class="keycap" data-content="LEFT" data-bg-color="#39347B" data-text-color="#019CAB"></div>
    <div class="keycap" data-content="DOWN" data-bg-color="#39347B" data-text-color="#019CAB"></div>
    <div class="keycap" data-content="UP" data-bg-color="#39347B" data-text-color="#019CAB"></div>
    <div class="keycap" data-content="RIGHT" data-bg-color="#39347B" data-text-color="#019CAB"></div>
  </div>
</div>

